<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">        
        <a class="navbar-brand" href="index.html">Wishpool</a>
    </div>
    <!-- /.navbar-header -->
    <header-notification></header-notification>

    <sidebar></sidebar>
</nav>
