<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            Groups
        </a>
        <ul class="dropdown-menu dropdown-messages">
            <li>
                <a ui-sref="dashboard.groups">
                    <div>
                        <strong>All Groups</strong>                        
                    </div>                    
                </a>
            </li>            
        </ul>
    </li>   
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            Activities
        </a>
        <ul class="dropdown-menu dropdown-messages">
            <li>
                <a ui-sref="dashboard.activities">
                    <div>
                        <strong>All Activities</strong>                        
                    </div>                    
                </a>
            </li>           
        </ul>
    </li>  
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a ui-sref="dashboard.activities"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>            
            <li class="divider"></li>
            <li><a ng-click="signOut()"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>

