<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header" align="center">My Activities</h3>
		</div>
		<!-- /.col-lg-12 -->
		<div class="row">
			<div ng-repeat="item in myActivities">
				<div class="col-lg-3 col-md-6">
				    <div class="panel panel-primary">
				        <div class="panel-heading">
				            <div class="row">
				                <div class="col-xs-3">
				                    <i class="fa fa-comments fa-5x"></i>
				                </div>
				                <div class="col-xs-9 text-left">
				                    {{ item.name }}
				                </div>
				            </div>
				        </div>    
				        <div class="panel-footer">
				            <a><span class="pull-left">View Details</span></a>				                   
				            <div class="clearfix"></div>
				        </div>    
				    </div>			
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<h3 class="page-header" align="center">Other Activities</h3>
		</div>
		<!-- /.col-lg-12 -->
		<div class="row">
			<div ng-repeat="item in restActivities">
				<div class="col-lg-3 col-md-6">
				    <div class="panel panel-yellow">
				        <div class="panel-heading">
				            <div class="row">
				                <div class="col-xs-3">
				                    <i class="fa fa-comments fa-5x"></i>
				                </div>
				                <div class="col-xs-9 text-left">
				                    {{ item.name }}
				                </div>
				            </div>
				        </div>    
				        <div class="panel-footer">
				            <a><span class="pull-left">View Details</span></a>
				            <a><span class="pull-right" ng-click="joinActivity(item)">Join</span></a>			            
				            <div class="clearfix"></div>
				        </div>    
				    </div>			
				</div>
			</div>	
		</div>
	</div>
	<!-- /.row -->
</div>