<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header" align="center">My Groups</h3>
		</div>
		<!-- /.col-lg-12 -->
		<div class="row">
			<div ng-repeat="item in myGroups">
				<div class="col-lg-3 col-md-6">
				    <div class="panel panel-primary">
				        <div class="panel-heading">
				            <div class="row">
				                <div class="col-xs-3">
				                    <i class="fa fa-comments fa-5x"></i>
				                </div>
				                <div class="col-xs-9 text-left">
				                    {{ item.name }}
				                </div>
				            </div>
				        </div>    
				        <div class="panel-footer">
				            <a type="button" data-toggle="modal" data-target="#myModal">
				            	<span class="pull-left">View Details</span>
				            </a>				                  
				            <div class="clearfix"></div>
				        </div>    
				    </div>			
				</div>
			</div>	
		</div>
		<div class="col-lg-12">
			<h3 class="page-header" align="center">Other Groups</h3>			
		</div>
		<!-- /.col-lg-12 -->
		<div class="row">
			<div ng-repeat="item in restGroups">
				<div class="col-lg-3 col-md-6">
				    <div class="panel panel-yellow">
				        <div class="panel-heading">
				            <div class="row">
				                <div class="col-xs-3">
				                    <i class="fa fa-comments fa-5x"></i>
				                </div>
				                <div class="col-xs-9 text-left">
				                    {{ item.name }}
				                </div>
				            </div>
				        </div>    
				        <div class="panel-footer">
				            <a><span class="pull-left">View Details</span></a>
				            <a><span class="pull-right" ng-click="joinGroup(item)">Join</span></a>			            
				            <div class="clearfix"></div>
				        </div>    
				    </div>			
				</div>
			</div>	
		</div>
	</div>
	<!-- /.row -->


	<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Around Berlin in 80 Restaurants </h4>
                </div>
                <div class="modal-body">
                    "Bouldering and Rock Climbing", "Recreational Sports", "Ultimate Frisbee", "Sports and Socials", "Water Sports", "Winter and Summer Sports", "Outdoor Adventures", "Outdoor Fitness", "Outdoors", "Fitness", "Sports and Recreation", "Beach Volleyball", "Hiking", "Skiing", "Cycling"
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                    
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>