<div class="container-fluid">
	<div class="row">
		<div class="row">
			<h3 class="page-header" align="center">Wishpool Groups</h3>
		</div>
		<!-- /.col-lg-12 -->
		<div class="row">
			<div ng-repeat="item in groups">
				<stats name="{{ item.name }}" colour="primary"></stats>
			</div>		    
		</div>
		<div class="row">
			<h3 class="page-header" align="center">Wishpool Activities</h3>
		</div>
		<div class="row">
			<div ng-repeat="item in activities">
				<stats name="{{ item.name }}" colour="yellow"></stats>
			</div>		    
		</div>
	</div>
	<!-- /.row -->
</div>
