<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign Up</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Your Name" name="name" type="text" ng-model="user.name" value="" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-model="user.email" placeholder="E-mail" name="email" type="email" >
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-model="user.pass" placeholder="Password" name="password" type="password" value="">
                            </div>                            
                            <!-- Change this to a button or input when using this as a form -->
                            <button ng-click="signUp()" class="btn btn-lg btn-success btn-block">SignUp</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>